.grid_contact{
    display: grid;
    margin-bottom: 3rem;
}
.map{
    display: block;
    width: 100%;
}



// MEDIA QUERIES
@media screen and (min-width: 750px){
    .grid_contact{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
    }
    .large{
        grid-column: span 2;
        grid-row: span 2;
    }

}