.btn{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
}

.read_me{
    background-color: #ff0303;
}