footer{
    width: 100%;
    background: url(../../img/footer.jpg) center/cover;
    color: #fff;
    // &::before{
    //     content: " ";
    //     background-color: rgba(0, 0, 0, 0.7);
    // }
    a{
        color: #9f9f9f;
    }
}


.grid_footer{
    display: flex;
    flex-direction: column;
}
.nav_footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    h4{
        font-size: 1.5rem;
        font-weight: normal;
    }
}


small{
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    border-top: 1px solid #9f9f9f;
    text-align: center;
    div{
        width: 80%;
        margin: 0 auto;
        a{
            color: #fff;
        }
    }
}

// MEDIA QUERIES
@media screen and (min-width: 580px){
    .grid_footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 3rem;
    }
}
@media screen and (min-width: 790px){
    .grid_footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width: 1000px){
    .grid_footer{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
}