
.get_in_touch{
    display: flex;
    flex-direction: column;
    input, textarea{
        display: block;
        width: 100%;
        margin: 1rem 0;
        font-size: 14.5px;
        padding: 1rem 1rem;
        background-color: #f6f6f6;
        border: none;
        &:focus{
            outline:2px solid #80bdff;
            // box-shadow: 0 0 0 .2rem rgba(0,123,255,.25); plus zoli sans
        }
    }
    a, address{
        color: #9f9f9f;
        font-size: 17px;
        line-height: 1.5;
        font-style: normal;
    }
    h4{
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
        padding: 2rem 0 1rem 0;
        border-bottom: 2px solid #9f9f9f;
    }
    .envoi{
        background-color: #fff;
        border: 2px solid #3a3a3a;
        color: #3a3a3a;
        font-weight: bold;
    }
}