// gris texte = #9f9f9f
//  rouge = #ff0303
// max-width=1140px

body{
    font-family: 'Khula', sans-serif;
    color: #3a3a3a;
}

.wrapper{
    width: 100%;
    max-width: 1140px;
    padding: 1.25rem;
}
@media screen and (min-width: 580px){
    .wrapper{
        padding: 1rem 8rem;
    }
}
@media screen and (min-width: 790px){
    .wrapper{
        padding: 1rem 3rem;
    }
}
@media screen and (min-width: 1000px){
    .wrapper{
        margin: 0 auto;
    }
}

h2{
    font-weight: normal;
}

h3{
    font-size: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
p{
    color: #9f9f9f;
    line-height: 1.8;
}
a{
    text-decoration: none;
}


.zoom_img{
    overflow:hidden ;
    max-width: 100%;
    &:hover img{
        transform: scale(1.1);
    }
    img{
        margin-bottom: 1.75rem;
        transition: 1s all ease-in-out;
    }
}

// pages contact et about
.banniere{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    padding: 2rem 1rem;
    margin: 1rem 0;
    h3{
        font-size: 28px;
        font-weight: normal;
    }
}
.date{
    font-size: 18px;
    font-style: italic;
}