// gris texte = #9f9f9f
//  rouge = #ff0303
// max-width=1140px

body{
    font-family: 'Khula', sans-serif;
    color: #3a3a3a;
}

.wrapper{
    width: 100%;
    max-width: 1140px;
    padding: 1rem;
}
@media screen and (min-width: 580px){
    .wrapper{
        padding: 1rem 8rem;
    }
}
@media screen and (min-width: 790px){
    .wrapper{
        padding: 1rem 3rem;
    }
}
@media screen and (min-width: 1000px){
    .wrapper{
        margin: 0 auto;
    }
}


a{
    text-decoration: none;
}


// pages contact et about
.banniere{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    padding: 2rem 1rem;
    margin: 1rem 0;
    h3{
        font-size: 28px;
        font-weight: normal;
    }
    .date{
        font-size: 18px;
        font-style: italic;
    }
}